<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.dynamic_converter">

    <dist:module
        dist:instant="true"
        dist:onDemand="false"
        dist:title="@string/title_dynamic_converter">
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>

