name: Checks

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  pull-requests: write
  contents: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Create google-services.json file
        run: |
          echo "$GOOGLE_SERVICES_JSON" > app/google-services.json.base64
          base64 -d -i app/google-services.json.base64 > app/google-services.json
        env:
          GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
      - name: Build with Gradle
        run: ./gradlew build
  checks:
    name: Checks
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Check lint
        run: ./gradlew lint
      - name: Check binary compatibility
        run: ./gradlew :lib:checkLegacyAbi
      - name: Upload check reports
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: Check reports
          path: |
            **/app/build/reports/
            **/lib/build/reports/
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Test
        run: ./gradlew :lib:test
      - name: Upload test reports
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: Unit test reports
          path: '**/lib/build/reports/tests/test/index.html'
