name: Deploy to Google Play Internal

on:
  push:
    tags: [ 'v*' ]
  workflow_dispatch:

jobs:
  deploy_google_play_internal:
    name: Deploy to Google Play Internal
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Setup Ruby (for Fastlane)
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true
      - name: Decode secrets
        run: |
          echo "$KEYSTORE_PROD" > app/keystore.jks.base64
          base64 -d -i app/keystore.jks.base64 > app/keystore.jks
          echo "$GOOGLE_PLAY_DISTRIBUTION_JSON" > app/google-play-distribution.json.base64
          base64 -d -i app/google-play-distribution.json.base64 > app/google-play-distribution.json
          echo "$GOOGLE_SERVICES_JSON" > app/google-services.json.base64
          base64 -d -i app/google-services.json.base64 > app/google-services.json
        env:
          KEYSTORE_PROD: ${{ secrets.KEYSTORE_PROD }}
          GOOGLE_PLAY_DISTRIBUTION_JSON: ${{ secrets.GOOGLE_PLAY_DISTRIBUTION_JSON }}
          GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
      - name: Build and deploy to Google Play Internal
        run: bundle exec fastlane deploy_google_play_internal
        env:
          SIGNING_KEYSTORE: ${{ github.workspace }}/app/keystore.jks
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
          SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}
